services:
  app:
    container_name: ${ALIAS}
    restart: always
    image: '${ALIAS}-image'
    volumes:
      - ./data:/usr/project/data
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - DISCORD_GUILD_BLACKLIST=${DISCORD_GUILD_BLACKLIST}
      - STORAGE_PATH=${STORAGE_PATH}
      - TASKS_PATH=${TASKS_PATH}
      - PROTECTED_USERS=${PROTECTED_USERS}
      - DEVELOPER_ID=${DEVELOPER_ID}
      - INIT_SLASH_COMMANDS=${INIT_SLASH_COMMANDS}
      - AI_PROVIDER=${AI_PROVIDER}
      - AI_PROMPT_PATH=${AI_PROMPT_PATH}
      - SHORTLINK_BASE_URL=${SHORTLINK_BASE_URL}
    entrypoint: /usr/project/app
    networks:
      - proxy
    ports:
      - 8787
    labels:
      # HTTP to HTTPS redirection and middleware assignment
      - traefik.enable=true
      - traefik.http.routers.${ALIAS}-http.entrypoints=http
      - traefik.http.routers.${ALIAS}-http.rule=Host(`${HOST}`)
      - traefik.http.routers.${ALIAS}-http.middlewares=${ALIAS}-to-https,${ALIAS}-headers

      # HTTPS routing and TLS configuration
      - traefik.http.routers.${ALIAS}.entrypoints=https
      - traefik.http.routers.${ALIAS}.rule=Host(`${HOST}`)
      - traefik.http.routers.${ALIAS}.tls=true
      - traefik.http.routers.${ALIAS}.tls.certresolver=letsencrypt

      # Middleware for redirecting HTTP to HTTPS
      - traefik.http.middlewares.${ALIAS}-to-https.redirectscheme.scheme=https

networks:
  proxy:
    external: true      